* { -webkit-hyphens: none; }

.clear {clear: both;}
.site {
	width: 100%;
	position: relative;
}
body {
	background: {
		image: url(images/bg.png);
		repeat: repeat;
	}
}
.banner {
	width: 85%;
	margin: 0px auto;
	position: relative;
	z-index: 1000;
	img {
		width: 100%;
	}
}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		// width: 1200px;
		padding: 0px;
	}
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo , h1.logo {
	width: 300px;
	height: 299px;
	background: {
		image: url(images/logo.png);	
		repeat: no-repeat;
		size: cover;
	}
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		height: 299px;
		// float: left;
		// margin: 0 0 0 -50%;
		position: absolute;
		top: -30px;
		left: -50%;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.logo a, h1.logo a {
	width: 300px;
	height: 299px;
	display: block;
	text-indent: -9000px;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		height: 299px;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.teaser {
	width: 300px;
	height: 300px;
	padding: 20px;
	position: fixed;
	top: 0;
	right: 0;
	color: #fff;
	background: {
		image: url(images/triangle.png);
		repeat: no-repeat;
		size: cover;
	}
	font-size: 28px;
	text-align: right;

	@media screen and (min-width: $tabwidth) {

	}
	@media screen and (min-width: $deskwidth) {

	}
}
.sub-hero {
	width: 70%;
	margin: 50px auto;
	position: relative;
	text-align: center;
	font-size: 30px;
	// color: #fff;
	// text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
}
section.hero {
	width: 50%;
	margin: 50px auto 100px auto;
	position: relative;
	text-align: center;
	// color: #fff;


	h2 {
		font-size: 50px;
		// text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
		margin: 0 0 0 0;
	}
	.tagline {
		font-size: 22px;
	}
}
section.main-content {
	width: 90%;
	margin: 0px auto;
	position: relative;
	// text-align: center;
	// font-size: 30px;
	// color: #fff;
	// text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);

	.item {
		width: 100%;
		position: relative;
		float: left;
		margin: 0 0 30px 0;
		padding: 20px;
		background-color: rgba(255,255,255,.0);
		@include transition(all ease .5s);
		font-size: 14px;
		border-bottom: 1px solid rgba(255,255,255,.2);

		h3 {
			font-size: 24px;
		}

		.icon {
			width: 30%;
			float: left;

			img {width: 100%;}
		}
		.action {
			width: 100%;
			margin: 0 0 5px 0;
			font-size: 20px;
			text-align: center;
		}
		.desc {
			width: 65%;
			float: right;
		}

		.arrow-right {
		  width: 0; 
		  height: 0; 
		  border-top: 40px solid transparent;
		  border-bottom: 40px solid transparent;
		  @include transition(all ease .5s);
		  border-left: 40px solid rgba(255,255,255,.2);
		  position: absolute;
		  left: -30px;
		  top: 30%;
		}

		a {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			text-indent: -9000px;
		}
		&:hover {
			background-color: rgba(255,255,255,.2);

			.arrow-right {
				left: -50px;

			}
		}
	}
}
.cta {
	width: 70%;
	margin: 5px auto;
	position: relative;
	clear: both;
	background-color: rgba(255,255,255,.2);
	padding: 20px;
	overflow: hidden;
	border-radius: 10px;
	text-align: center;
	// font-size: 30px;

	.subject {
		width: 100%;
		// float: left;
		text-align: center;
		font-size: 18px;
	}
	.click {
		width: auto;
		float: right;
		a {
			width: auto;
			display: block;
			background-color: rgba($color-yellow,.8);
			text-align: center;
			@include transition(all ease .5s);
			padding: 10px 20px;
			border-radius: 10px;
			text-decoration: none;
			color: #000;

			&:hover {
				background-color: rgba($color-yellow,1);
			}
		}
	}
}


.pricing-grid {
	
	margin: 0 auto;
	@media screen and (min-width: $tabwidth) {
		display: flex;
	}

	.plan {
		flex: 1;
		background-color: rgba(255,255,255, 0.9);
		margin: 20px 0;
		padding: 20px;
		text-align: left;
		border-radius: 4px;
		display: flex;
		flex-wrap: wrap;
		@include transition(all ease .3s);
		-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
align-content: flex-start;
align-items: flex-start;
		@media screen and (min-width: $tabwidth) {
			margin: 0px 20px 20px 20px;
		}

		

		h2 {
			font-size: 20px;
			width: 100%;
		}
		h3 {
			font-size: 26px;
			width: 100%;
			margin: 5px 0;
		}
		h4 {
			width: 100%;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			margin: 0 0 5px 0;
			padding: 0;
			border-bottom: 1px solid #ccc;
		}
		p {
			width: 100%;
		}
		.price {
			font-size: 26px;
			padding: 0 0 5px 0;
			// border-bottom: 1px solid #000;
			display: inline-block;
			width: 100%;
			margin-top: 20px;
			color: #333;
		}

		.others {
			font-size: 24px;
		}
		.call {
			width: 100%;
			float: left;
		}
		.last-div {
			align-self: flex-end;
		}
		& a.cta {
			
			background-color: rgba($color-red,.7);
			@include transition(all ease .3s);
			color: #000;
			text-decoration: none;
			display: block;
			font-size: 20px;
			
			color: #fff;

			&:hover {
				background-color: rgba($color-red,1);
			}
		}
		.top {
			display: flex;
			align-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;
		}
		& > * {
			flex: 1;
			flex-basis: 100%;
		}

		&:hover {
			-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
		}
	}
}
.creds {
	width: 100%;
	text-align: center;
	padding: 40px 0;
}
.others {
	.call {
		width: 100%;
		float: left;
		margin: 5px 0;
		font-size: 16px;
	}
	
}
.blue-butt {
		width: 100%;
		float: left;
		font-size: 14px;
		text-align: center;
		margin: 5px 0;
	a.blue-butt {
		background-color: rgba($color-blue,.7);
		@include transition(all ease .3s);
		color: #000;
		text-decoration: none;
		display: block;
		font-size: 14px;
		align-self: flex-end;
		padding: 15px 0;
		border-radius: 5px ;
		color: #fff;

		&:hover {
			background-color: rgba($color-blue,1);
		}
	}
}
#primary {
	margin-top: -4.5%;
}
.spacer-image {
	margin-top:30px;
}

.testwrap {
	width: 90%;
	float: right;
}
.raggsbar {
	width: 100%;
	float: left;
	position: relative;
	margin: 20px 0;
}
.small-logo {
	width: 150px;
	position: absolute;
	left: -100px;
	top: -30px;
	z-index: 10000;
}
.small-logo img {
	width: 100%;
}
.redbar {
	background-color: #fe1202;
	padding: 20px 20px 20px 80px;
	color: #fff;
	width: 100%;
	position: relative;
	border-radius: 10px;
}
.redbar a, .raggsbar a {
	text-decoration: none;
	color: #fff;
	display: block;
}
